---
import { Icon } from "./Tech";
---

<div class="tec">
  <a class="astro" href="/flutter/" transition:name="AstroIcon">
    <Icon.Astro className="w-5" />
  </a>
</div>

<style>
  .tec {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100px;
    height: 300px;
    margin-top: 2.8rem;
  }

  .astro {
    margin: 0 10px;
    padding: 9px;
    border: 1px solid rgb(33, 33, 33);
    border-radius: 8px;
    transition:
      transform 0.5s ease,
      box-shadow 0.5s ease;
    margin-bottom: 2rem;
    background: black;
    transform: translateY(-5px);
    border: none;
    box-shadow: 0 10px 20px rgba(255, 68, 0, 0.6);
  }
</style>
