---
import Search from "@/components/Search.astro";
import SelectOne from "@/components/SelectOne.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="wasy.me">
    <!-- --- --- --- -- Search  -->
    <Search />
    <!-- --- --- --- -- Selection  -->
    <SelectOne />

    <h1 class="dark:text-white">Flutter Page</h1>
</Layout>
