---
import Layout from "@/layouts/Layout.astro";
import { BgLight } from "@/components/layout/BackgroundLigh";
import TextPlanet from "@/components/TextPlanet.astro";
import Flutter from "@/icons/flutter.astro";
import SelectTecFlutter from "@/components/SelectTecFlutter.astro";
import CardFlutter from "@/components/CardFlutter.astro";
import SearchTs from "@/components/SearchTs";
---

<Layout title="wasy.me" description={"Mobile developer tools"}>
  <BgLight.Blue />
  <section class=" my-6 ml-20 mb-14 md:flex hidden">
    <TextPlanet />
    <Flutter />
  </section>
  <!-- --- --- --- -- Search and select Tech -->
  <div>
    <SearchTs client:load />
    <SelectTecFlutter />
  </div>
  <!-- --- --- --- -- Card and Content -->
  <CardFlutter />
</Layout>
