---
import Layout from "@/layouts/Layout.astro";
import { BgLight } from "@/components/layout/BackgroundLigh";
import TextPlanet from "@/components/TextPlanet.astro";
import Flutter from "@/icons/flutter.astro";
import Search from "@/components/Search.astro";
import SelectTecFlutter from "@/components/SelectTecFlutter.astro";
---

<Layout title="wasy.me">
  <BgLight.Blue />
  <section class="container-logo">
    <TextPlanet />
    <Flutter />
  </section>
  <!-- --- --- --- -- Search and select  -->
  <Search />
  <SelectTecFlutter />

  <h1 class="dark:text-white">Flutter Page</h1>
</Layout>
<style>
  .container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0 4rem 0;
    /* background-color: blue; */
  }
</style>
