@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&display=swap');

:root {
    --color-primary: #008cff;
    --color-secondary: #100f0d;
    --color-tertiary: #374151;
    --color-light: #ffffff;
    --color-dark: #000000;

    --color-1: #ff002a;
    --color-2: #00ff30;
    --color-3: #ffea00;
}

body {
    background-color: #000000;
    font-family: "Nunito Sans", sans-serif;
    /* font-family: "Playwrite AR", cursive; */
    background-size: 224px;
    color: white;
}

/* --- --- --- --- -- scroll bar  */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar:horizontal {
    display: none;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #ffffff36;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff6d;
    backdrop-filter: blur(10px);
}