@import url("https://fonts.googleapis.com/css?family=Inter:400|Jura:400");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
    /* color-scheme: light dark; */
    --color-primary: #008cff;
    --color-secondary: #f56701;
    --color-tertiary: #374151;
    --color-light: #ffffff;
    --color-dark: #000000;

    --color-1: #ff002a;
    --color-2: #00ff30;
    --color-3: #ffea00;
}

body {
    background-image: url("/assets/img/noise.svg");
    /* background-color: #000000fe; */
    font-family: "Jura", sans-serif;
    /* font-family: "Playwrite AR", cursive; */
    /* background-size: cover; */
    /* color: white; */
}

/* --- --- --- --- -- scroll bar  */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar:horizontal {
    display: none;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #ffffff36;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff6d;
    backdrop-filter: blur(10px);
}