---
const currentYear = new Date().getFullYear();
---

<footer class="bg-gray-900 text-white py-8">
    <div class="line"></div>
    <div class="container mx-auto px-4">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <div class="mb-4 md:mb-0">
                <a href="/" class="text-2xl font-bold">wasy.me</a>
            </div>
            <div class="flex space-x-4">
                <a href="/about" class="hover:underline">About</a>
                <a href="/blog" class="hover:underline">Blog</a>
                <a href="/contact" class="hover:underline">Contact</a>
                <a href="/privacy" class="hover:underline">Privacy Policy</a>
            </div>
        </div>
        <div class="mt-8 text-center text-sm text-gray-500">
            &copy; {currentYear} @bastndev
        </div>
    </div>
</footer>

<style>
    footer {
        background-color: #010101;
        color: #fff;
    }
    a {
        color: #fff;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    .line {
        height: 1px;
        background-color: #1e1e1e;
    }
</style>