---
import { Icon } from "@/icons/SocialMedia";
import ThemeToggle from "../ThemeToggle.astro";

import { VERSION } from "@/lib/versions";

// const { id } = Astro.params;
const filteredTech = VERSION.filter((tech) => tech.id === "wasy");
const version = filteredTech.length > 0 ? filteredTech[0].version : "N/A";
---

<header class="bg-transparent dark:text-white py-4">
  <div
    class="mx-auto flex justify-center items-center px-4 max-w-screen-xl gap-64"
  >
    <a href="/" class="logo">
      <p>wasy <span class="me">.me</span></p>
    </a>

    <ThemeToggle />

    <a
      href="https://github.com/bastndev/wasy.me"
      target="_blank"
      class="flex items-center space-x-4"
    >
      <p class="version">{version}</p>
      <Icon.GitHub className="h-6 w-auto" />
    </a>
  </div>
</header>

<!-- MARK: Style -->
<style>
  .me {
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 0 10px 5px 5px;
    border: 1px solid #191919;
    color: white;
  }
  .version {
    background: #2929296b;
    border-radius: 5px;
    padding: 1px 10px;
    transition: 1s ease;
  }
  .version:hover {
    background: #0a0a0aab;
  }
  /* -- --- -- -- -- - FIXME: responsive Mobile */
  @media (max-width: 640px) {
    .logo {
      font-size: 1rem;
    }
    .gap-64 {
      gap: 5.1rem;
    }
  }
</style>
