---
import Layout from "@/layouts/Layout.astro";
import Search from "@/components/Search.astro";
// import Header from "@/components/Headery.astro";
// import { Icons } from "@/icons/icons";
import GobleText from "@/components/GobleText.astro";
import SelectTecmain from "@/components/SelectTecmain.astro";
import { Light } from "@/components/layout/BackgroundLigh";
// import { Icon } from "@/icons/Tech";
import FlutterAstro from "@/icons/FlutterAstro.astro";
---

<Layout title="wasy.me">
  <Light.Main />
  <div class="container-logo">
    <GobleText />
    <FlutterAstro />
  </div>
  <!-- --- --- --- -- Search  -->
  <Search />
  <!-- --- --- --- -- Selection  -->
  <SelectTecmain />

  <h1 class="dark:text-white">main</h1>
</Layout>

<style>
  .container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0 4rem 0;
    /* background-color: red; */
  }
</style>

<!-- TODO: align globe text, -->
<!-- TODO: and refactor name of background Light -->
<!-- TODO: better selectTecMain ..... f .. a -->