---
import Layout from "@/layouts/Layout.astro";
import { BgLight } from "@/components/layout/BackgroundLigh";
import TextPlanet from "@/components/TextPlanet.astro";
import FlutterAstro from "@/icons/FlutterAstro.astro";
import Search from "@/components/Search.astro";
import SelectTecHome from "@/components/SelectTecHome.astro";
import Card from "@/components/Card.astro";
---

<Layout title="wasy.me">
  <BgLight.Grey />
  <section class="flex my-6 ml-20 mb-14">
    <TextPlanet />
    <FlutterAstro />
  </section>
  <!-- --- --- --- -- Search and select  -->
  <div class="">
    <Search />
    <SelectTecHome />
  </div>
  <!-- --- --- --- -- Card and Content -->
  <Card />
</Layout>

<!-- TODO: clear code and better code -->
<!-- TODO: better You have selected now Astro Fluute Home -->
<!-- TODO: Implemente select Fluuter astro Box Icon Icon -->
<!-- fire select text  -->
 <!-- add ai ? -->
  <!-- elio tupc font -->
