---
import Layout from "@/layouts/Layout.astro";
import { BgLight } from "@/components/layout/BackgroundLigh";
import TextPlanet from "@/components/TextPlanet.astro";
import FlutterAstro from "@/icons/FlutterAstro.astro";
import Search from "@/components/Search.astro";
import SelectTecHome from "@/components/SelectTecHome.astro";
---

<Layout title="wasy.me">
  <BgLight.Grey />
  <section class="container-logo">
    <TextPlanet />
    <FlutterAstro />
  </section>
  <!-- --- --- --- -- Search and select  -->
  <Search />
  <SelectTecHome />

  <h1 class="dark:text-white">Home</h1>
</Layout>

<style>
  .container-logo {
    display: flex;
    margin: 1.5rem 0 3.5rem 5rem;
    /* background-color: red; */
  }
</style>

<!-- TODO: align globe text, -->
<!-- TODO: better selectTecMain ..... f .. a -->
<!-- TODO: clear Code -->
