---
import Layout from "@/layouts/Layout.astro";
import { BgLight } from "@/components/layout/BackgroundLigh";
import TextPlanet from "@/components/TextPlanet.astro";
import FlutterAstro from "@/icons/FlutterAstro.astro";
import SelectTecHome from "@/components/SelectTecHome.astro";
import Card from "@/components/Card.astro";
import MobileButonAstroFlutter from "@/components/MobileButonAstroFlutter.astro";
import SearchTs from "@/components/SearchTs";
---

<Layout title="wasy.me" description={"All the tools ðŸ› ï¸ you need as a developer, web - mobile ðŸŒ"}>
  <BgLight.Grey />
  <section class=" my-6 ml-20 mb-14 md:flex hidden">
    <TextPlanet />
    <FlutterAstro />
  </section>
  <!-- --- --- --- -- Search and select  -->
  <div>
    <SearchTs client:load />
    <SelectTecHome />
  </div>
  <!-- --- --- --- -- Card and Content -->
  <MobileButonAstroFlutter />
  <Card />
</Layout>



<!-- TODO: clear code and better code -->
