---
import Layout from "@/layouts/Layout.astro";
import { BgLight } from "@/components/layout/BackgroundLigh";
import TextPlanet from "@/components/TextPlanet.astro";
import FlutterAstro from "@/icons/FlutterAstro.astro";
import Search from "@/components/Search.astro";
import SelectTecHome from "@/components/SelectTecHome.astro";
---

<Layout title="wasy.me">
  <BgLight.Grey />
  <section class="flex my-6 ml-20 mb-14">
    <TextPlanet />
    <FlutterAstro />
  </section>
  <!-- --- --- --- -- Search and select  -->
  <div>
    <Search />
    <SelectTecHome />
  </div>
  <!-- --- --- --- -- Card and Content -->
  <h1 class="dark:text-white">Home</h1>
</Layout>
