---

---

<header class="header">
    <div class="container">
        <div class="logo">
            <p>wasy <span>.me</span></p>
        </div>
        <nav class="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<style>
    .header {
        /* background-color: #00000065; */
        color: #fff;
        padding: 1rem 0;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;
    }
    span {
        background-color: rgb(0, 0, 0);
        border-radius: 5px;
        padding: 0 10px 5px 5px;
        border: 1px solid #3d3d3d;
    }
    .nav ul {
        list-style: none;
        display: flex;
        gap: 1rem;
    }
    .nav a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
    }
    .nav a:hover {
        text-decoration: underline;
    }
</style>
