---
import Goble from "@/icon/goble.astro";
import Navbar from "./layout/Navbar.astro";
import Flutter from "@/icon/flutter.astro";
import Astro from "@/icon/astro.astro";
---

<section class="header">
    <Navbar />
    <slot />
</section>

<style>
    .container-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1.5rem 0 4rem 0;
        /* background-color: red; */
    }
    .w {
        width: 100%;
        background-color: red;
    }
    .tec {
        /* background-color: blue; */
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100px;
        height: 300px;
        margin-top: 1rem;
        margin-right: 0.2rem;
    }
</style>
