---
import { Icons } from "@/icon/icons";
import MooSun from "@/icon/moo-sun.astro";
---

<header class="bg-transparent text-white py-4">
    <div
        class="container mx-auto flex justify-between items-center px-4 max-w-screen-xl"
    >
        <div class="logo">
            <p>
                wasy <span class="me">.me</span>
            </p>
        </div>
        <MooSun />
        <div class="flex items-center space-x-4">
            <p class="version">v0.0.1</p>
            <Icons.GitHub className="h-6 w-auto" />
        </div>
    </div>
</header>

<style>
    .me {
        background-color: rgb(0, 0, 0);
        border-radius: 5px;
        padding: 0 10px 5px 5px;
        border: 1px solid #191919;
    }
    .version {
        background: #2929296b;
        border-radius: 5px;
        padding: 3px 10px 5px 10px;
    }
</style>
