---
import Navbar from "./layout/Header.astro";
---

<section class="header">
    <Navbar />
    <slot />
</section>

<style>
    .container-logo {
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        /* margin: 1.5rem 0 4rem 0; */
        /* background-color: red; */
    }
    .w {
        /* width: 100%; */
        /* background-color: red; */
    }

</style>
