<section class="section flex flex-col items-center justify-center text-center">
  <div class="tech-selector mb-4 dark:text-white">
    <a href="/"></a>
    <a href="/astro/tool">Tool</a>
    <a href="/astro/api">Api</a>
    <a href="/astro/icon">Icon</a>
    <a href="/astro/vscode">Vs-Code</a>
    <a href="/astro/web">Web-ex</a>
    <a href="/astro/ui">Ui</a>
    <a href="/astro/fonts">Font</a>
    <a href="/astro/ai">Ai</a>
  </div>
  <div>
    <p class="dark:text-white">
      You have selected now <span>Astro</span>
    </p>
  </div>
</section>

<style>
  .section {
    height: 96px;
  }
  .tech-selector a {
    text-transform: uppercase;
    margin-right: 4rem;
    font-size: 1.3rem;
  }
  .tech-selector a:hover {
    color: var(--color-secondary);
  }

  span {
    font-family: monospace;
    background-color: var(--color-secondary);
    border-radius: 5px;
    padding: 2px 10px;
    border: 1px solid var(--color-3);
    color: var(--color-2);
  }
</style>
