<section class="section flex flex-col items-center justify-center text-center">
  <div class="tech-selector mb-4 dark:text-white" transition:name="IconTransition">
    <a href=""></a>
    <a href="/flutter/tool" data-tech="Tool">Tool</a>
    <a href="/flutter/api" data-tech="Api">Api</a>
    <a href="/flutter/icon" data-tech="Icons">Icon</a>
    <a href="/flutter/vs-code" data-tech="VsCode">Vs-Code</a>
    <a href="/flutter/package" data-tech="Package">Package</a>
    <a href="/flutter/ui" data-tech="UI">ui</a>
    <a href="/flutter/font" data-tech="Font">Font</a>
    <a href="/flutter/ai" data-tech="Fonts">ai</a>
  </div>
  <div>
    <p class="dark:text-white">
      You have selected now <span id="selected-tech">Flutter</span>
    </p>
  </div>
</section>

<style>
  .section {
    height: 96px;
  }
  .tech-selector a {
    text-transform: uppercase;
    margin-right: 4rem;
    font-size: 1.3rem;
  }
  .tech-selector a:hover {
    color: var(--color-primary);
  }

  /* Styles fot text selected */
  .selected-tech-link {
    color: var(--color-primary) !important;
    font-weight: bold;
  }

  span {
    font-family: monospace;
    background-color: var(--color-primary);
    border-radius: 5px;
    padding: 2px 10px;
    border: 1px solid var(--color-3);
    color: var(--color-2);
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const selectedTechElement = document.getElementById("selected-tech");
    const savedTech = localStorage.getItem("selectedTech");

    if (savedTech && selectedTechElement) {
      selectedTechElement.textContent = savedTech;

      document.querySelectorAll(".tech-selector a").forEach((link) => {
        if (link.getAttribute("data-tech") === savedTech) {
          link.classList.add("selected-tech-link");
        }
      });
    }
  });

  document.querySelectorAll(".tech-selector a").forEach((link) => {
    link.addEventListener("click", function (this: HTMLAnchorElement, event) {
      event.preventDefault();
      const selectedTech = this.getAttribute("data-tech");
      const selectedTechElement = document.getElementById("selected-tech");

      if (selectedTechElement) {
        selectedTechElement.textContent = selectedTech;
        if (selectedTech) {
          localStorage.setItem("selectedTech", selectedTech);
        }
      }

      document.querySelectorAll(".tech-selector a").forEach((link) => {
        link.classList.remove("selected-tech-link");
      });

      this.classList.add("selected-tech-link");

      setTimeout(() => {
        window.location.href = this.href;
      }, 100);
    });
  });
</script>
