<section class="section flex flex-col items-center">
  <div class="tech-selector mb-4 dark:text-white">
    <a id="all" href="#All">All</a>
    <a>Api</a>
    <a>Icons</a>
    <a>VsCode</a>
    <a>Web ex</a>
    <a>Course</a>
    <a>Fonts</a>
  </div>
  <div id="delayed-text" class="hidden">
    <p class="dark:text-white">Select one <span>Tech</span></p>
  </div>
</section>

<!-- MARK: Style -->
<style>
  .section {
    height: 96px;
  }

  .tech-selector {
    text-transform: uppercase;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear 1 forwards;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  .tech-selector a {
    margin-right: 4rem;
    font-size: 1.3rem;
    cursor: default;
  }
  .hidden {
    display: none;
  }
  .visible {
    display: block;
  }

  #all {
    cursor: pointer;
    color: var(--color-1);
  }

  span {
    font-family: monospace;
    background-color: var(--color-1);
    border-radius: 5px;
    padding: 2px 10px;
    border: 1px solid var(--color-3);
    color: var(--color-2);
  }

  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
      background-size: 100%;
    }
  }
</style>

<!-- MARK: Script -->
<script>
  setTimeout(() => {
    const delayedText = document.getElementById("delayed-text");
    if (delayedText) {
      delayedText.classList.remove("hidden");
      delayedText.classList.add("visible");
    }

    // change color txt to visible
    const mbElement = document.querySelector(".tech-selector");
    if (mbElement) {
      (mbElement as HTMLElement).style.webkitTextFillColor = "#1b1c23";
    }
  }, 1700);
</script>
