<section class="section flex-col items-center md:flex hidden">
  <div class="tech-selector mb-4 dark:text-white">
    <a href=""></a>
    <a id="popular" href="/">Popular</a>
    <a>tool</a>
    <a>Icons</a>
    <a>Package</a>
    <a>ui</a>
    <a>Font</a>
    <a>AI</a>
  </div>
  <div id="delayed-text" class="fade-in">
    <p class="dark:text-white">Select one <span>Tech</span></p>
  </div>
</section>

<!-- MARK: Style -->
<style>
  .section {
    height: 96px;
  }

  .tech-selector {
    text-transform: uppercase;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear 1 forwards;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }

  .tech-selector a {
    margin-right: 4rem;
    font-size: 1.3rem;
    cursor: default;
  }

  /* Para ocultar inicialmente usando opacity */
  .fade-in {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
  }

  /* Añadimos la clase visible para iniciar la animación */
  .fade-in.visible {
    opacity: 1;
  }

  #popular {
    cursor: pointer;
    color: var(--color-1);
  }

  span {
    font-family: monospace;
    background-color: var(--color-1);
    border-radius: 5px;
    padding: 2px 10px;
    border: 1px solid var(--color-3);
    color: var(--color-2);
  }

  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
      background-size: 100%;
    }
  }
  /* -- -- --- --- -- FIXME: Responsive mobile */
  @media (max-width: 768px) {
    .tech-selector {
      display: none;
    }
  }
</style>

<!-- MARK: Script -->
<script>
  setTimeout(() => {
    const delayedText = document.getElementById("delayed-text");
    if (delayedText) {
      delayedText.classList.add("visible");
    }

    // change text and in 1s | time
    const mbElement = document.querySelector(".tech-selector");
    if (mbElement) {
      (mbElement as HTMLElement).style.webkitTextFillColor = "#1b1c23";
    }
  }, 1000);
</script>
