---
import { Icons } from "@/icon/icons";
---

<div class="container">
    <a class="flutter" href="#1">
        <Icons.Flutter className="w-7" />
    </a>
    <a class="astro" href="#2">
        <Icons.Astro className="w-7" />
    </a>
</div>

<!-- MARK: Style -->
<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100px;
        height: 300px;
        margin-top: 3rem;
        top: 0;
    }

    .flutter {
        background-color: #02569b;
        border-radius: 10%;
        padding: 10px;
        margin-bottom: 2rem; 
    }

    .astro {
        background-color: #000;
        border-radius: 10%;
        padding: 10px;
    }
</style>