---
import W_Flutter from "@/icon/w-flutter.astro";
import Technology from "./Technology.astro";
import Search from "./Search.astro";
---

<section class="w-logo">
    <div class="container-logo">
        <W_Flutter />
        <Technology />
    </div>
</section>

<style>
    .container-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4rem 0 2.5rem 0;
    }
</style>
