---
import W from "@/icon/w.astro";
import Technology from "./Technology.astro";
---

<section class="w-logo">
    <div class="container">
        <W />
        <Technology />
    </div>
</section>

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
    }
</style>
