---

---

<section class="w dark:text-white">
    <div class="red">
        <h1>Hello</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ex
            optio assumenda eaque doloribus vel quasi deserunt? Suscipit,
            voluptatem enim ratione ut recusandae autem, ab, blanditiis quod
            illum explicabo fuga.
        </p>
    </div>
</section>
<style>
    .w {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        /* height: 100vh; */
    }
    .red {
        /* background-color: red; */
        padding: 20px;
        border-radius: 10px;
    }
</style>
