---
import Layout from "@/layouts/Layout.astro";
import { BgLight } from "@/components/layout/BackgroundLigh";
import TextPlanet from "@/components/TextPlanet.astro";
import AstroJs from "@/icons/AstroJs.astro";
import Search from "@/components/Search.astro";
import SelectTecAstro from "@/components/SelectTecAstro.astro";
import CardAstro from "@/components/CardAstro.astro";
---

<!-- <Layout title="wasy.me" description={"Web developer tools"}> -->
  <Layout title="wasy.me" >
  <BgLight.Orange />
  <section class=" my-6 ml-20 mb-14 md:flex hidden">
    <TextPlanet />
    <AstroJs />
  </section>
  <!-- --- --- --- -- Search and select  -->
  <div>
    <Search />
    <SelectTecAstro />
  </div>
  <!-- --- --- --- -- Card and Content -->
  <CardAstro />
</Layout>
