---
import Layout from "@/layouts/Layout.astro";
import { BgLight } from "@/components/layout/BackgroundLigh";
import TextPlanet from "@/components/TextPlanet.astro";
import AstroJs from "@/icons/AstroJs.astro";
import Search from "@/components/Search.astro";
import SelectTecAstro from "@/components/SelectTecAstro.astro";
---

<Layout title="wasy.me">
  <BgLight.Orange />
  <section class="flex my-6 ml-20 mb-14">
    <TextPlanet />
    <AstroJs />
  </section>
  <!-- --- --- --- -- Search and select  -->
  <div>
    <Search />
    <SelectTecAstro />
  </div>
  <!-- --- --- --- -- Card and Content -->
  <h1 class="dark:text-white">Astro page</h1>
</Layout>
