---
import Layout from "@/layouts/Layout.astro";
import { BgLight } from "@/components/layout/BackgroundLigh";
import TextPlanet from "@/components/TextPlanet.astro";
import AstroJs from "@/icons/AstroJs.astro";
import Search from "@/components/Search.astro";
import SelectTecAstro from "@/components/SelectTecAstro.astro";
---

<Layout title="wasy.me">
  <BgLight.Orange />
  <section class="container-logo">
    <TextPlanet />
    <AstroJs/>
  </section>
  <!-- --- --- --- -- Search and select  -->
  <Search />
   <SelectTecAstro />

  <h1 class="dark:text-white">Astro page</h1>
</Layout>

<style>
  .container-logo {
    display: flex;
    margin: 1.5rem 0 3.5rem 5rem;
    /* background-color: red; */
  }
</style>