---
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/layout/Footer.astro";
import Search from "@/components/Search.astro";
import SelectOne from "@/components/SelectOne.astro";
---

<Layout title="wasy.me">
    <!-- --- --- --- -- Search  -->
    <Search />
    <!-- --- --- --- -- Selection  -->
    <SelectOne />

	<h1 class="dark:text-white">Astro Page</h1>
</Layout>
