---
import "../styles/global.css";
import { ViewTransitions } from "astro:transitions";
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";
import SEO from "@/components/ui/SEO.astro";
// import type { Preload } from "@/types/Preload";

interface Props {
  title: string;
}

interface Props {
  title: string;
  description: string;
  canonical?: string;
  image?: string;
}

const { title, description, canonical, image } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <SEO
      canonical={canonical}
      description={description}
      image={image}
      title={title}
    />
    <ViewTransitions />
  </head>
  <body class="relative text-black dark:text-white bg-gray-50 dark:bg-black">
    <Header />
    <main class="flex-col flex x-auto max-w-5xl items-center mx-auto py-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
